<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodmarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".FoodMarket"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodMarket.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.ui.order.detailtransaction.DetailTransactionActivity"></activity>
        <activity android:name=".ui.ui.profile.account.editprofile.EditProfileActivity" />
        <activity android:name=".ui.ui.detail.DetailActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".ui.auth.AuthActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>